@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <abbr title="Address">A:</abbr>
    2483 Ubunye Drive <br />
    Bram Fischerville <br/>
    Roodepoort<br />
    <abbr title="Phone">P:</abbr>
    +27 79 368 0816
</address>

<address>
    <strong>Help:</strong> <a href="mailto:dmabitle@jhb.dvt.co.za">dmabitle@jhb.dvt.co.za</a><br />
</address>
